**/disk_input
**/dustorbit
**/images
**/parentorbit
**/.DS_Store
./debris-disk/codes/launchpoints.txt
./debris-disk/codes/backgroundlaunchpoints.txt
**/launchpoints.txt
**/backgroundlaunchpoints.txt
**/codes/backgroundlaunchpoints.txt
debris-disk/codes/backgroundlaunchpoints.txt
/debris-disk/codes/backgroundlaunchpoints.txt
**/debris-disk/codes/backgroundlaunchpoints.txt
**/__pychache
debris-disk/plots/background_circular_standard/output_files/
**/output_files_localonly/
**/single_launch_circle_newbeta/
**/cropped_localonly/